.root
{
      -fx-background-image: url("file:/Users/rohan/Training-and-Placement/images/Youtube.jpg");
               -fx-background-size: auto;
               -fx-background-repeat: no-repeat;
               -fx-background-position: center;
               -fx-background-color: #0000FF;
}